* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    size: 300%;
    color: #369;
}

h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    margin: 2em;
}

body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
}

nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    background-color: #eee;
    border-radius: 4px;
    display: inline-block;
    size: 2.5em;
}

nav a:visited, a:link {
    color: #607D8B;
}

nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}

nav a.active {
    color: #039be5;
}

